# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - nodeappers

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: npm install, build, and test
        run: |
          npm install
          npm run build --if-present
      
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_8FA65A4915AF4C8FBB7FD7EE6AF6ACFC }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_DD1DCF910FE947259126789B89E943E6 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_AD0EAEE396D54B21B098B3DAD5EDCC2F }}


      - name: Build and Push Docker image
        run: |
          az account set --subscription "${{ secrets.AZURE_SUBSCRIPTION_ID }}"
          ACR_LOGIN_SERVER=$(az acr show -n ${{ secrets.ACR_NAME }} --query loginServer -o tsv)
          TOKEN=$(az acr login -n "${{ secrets.ACR_NAME }}" --rxpose-token --query loginServer -o tsv)
          IMAGE_SHA="${ACR_LOGIN_SERVER}/${{ secrets.IMAGE_NAME }}:${{ github.sha }}"
          IMAGE_LATEST="${ACR_LOGIN_SERVER}/${{ secrets.IMAGE_NAME }}:latest"
 
          docker build -t "$IMAGE_SHA" -t "$IMAGE_LATEST" .
          docker push "$IMAGE_SHA"
          docker push "$IMAGE_LATEST"
 
          echo "IMAGE_TO_DEPLOY=$IMAGE_SHA" >> $GITHUB_ENV          

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'nodeappers'
          slot-name: 'Production'
          package: .


